body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', 'Noto Serif SC', sans-serif;
}

.main-container {
    display: flex;
}

.category {
    flex: 1 0 auto;
}

.dish-image {
    max-width: 300px;
    height: auto;
}

.dish-image.mod-not-completed {
    opacity: 0.5;
}