::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.15);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.3);
}

html, body {
    margin: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', 'Noto Serif SC', sans-serif;
    font-size: 15px;
}

h1 {
    text-align: center;
    color: #ccc;
    margin: 20px 0 0 0;
    letter-spacing: -1px;
    font-size: 50px;
    font-weight: 200;
    font-family: 'Raleway', sans-serf;
    color: #d4af37;
    text-transform: uppercase;
}

.subheading {
    text-align: center;
    color: #aaa;
    font-size: 20px;
}

.heading-stats {
    text-align: center;
    color: #999;
    margin: 20px 0 30px 0;
}

.heading-stat {
    margin: 0 10px 0 14px;
    position: relative;
}

.heading-stat:not(:first-child):before {
    content: '᛫';
    position: absolute;
    left: -15px;
    top: 0;
}

.heading-stat-value {
    color: #d4af37;
    font-weight: bold;
}

.main-container {
    margin: 0 50px;
}

.category {
    margin-bottom: 30px;
}

.category-header {
    font-size: 23px;
    margin-bottom: 10px;
    text-align: center;
    color: #d4af37;
}

.category-chinese-name:before {
    content: '᛫';
    position: absolute;
    left: 0;
    top: 0;
}

.category-chinese-name {
    position: relative;
    margin-left: 10px;
    padding-left: 16px;
}

.category-progress {
    height: 14px;
    width: 400px;
    background-color: rgba(212, 175, 55, 0.4);
    margin: 10px auto;
    position: relative;
    cursor: help;
    border-radius: 10px;
}

.category-progress-inner {
    background-color: rgba(212, 175, 55, 0.8);
    width: calc(100% - 6px);
    height: 8px;
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 10px;
}

.category-dishes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: cen;
}

.dish {
    flex: 0 0 300px;
    max-width: 300px;
    margin: 15px;
    background-color: #040404;
    padding: 20px;
    border: 6px solid #222;
    border-radius: 3px;
}

.dish-english-name, .dish-chinese-name {
    display: block;
    text-align: center;
    font-size: 17px;
}

.dish-image-container {
    margin-top: 10px;
    text-align: center;
}

.dish-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
}

.dish-made-date {
    display: block;
    text-align: center;
    padding: 2px 0;
    margin: 2px 0 8px 0;
    font-size: 12px;
    color: #bbb;
    letter-spacing: 1px;
    cursor: default;
    position: relative;
}

.dish-made-date .tooltip:before {
    font-size: 12px;
    font-weight: bold;
}

.dish-english-notes, .dish-chinese-notes {
    color: #ccc;
}

.dish-chinese-notes {
    margin-top: 10px;
}

.dish.mod-not-completed {
    background-color: #222;
    color: #999;
    border: 6px solid #444;
    opacity: 0.5;
}

.dish.mod-not-completed .dish-image {
    opacity: 0.5;
}

.slbCloseBtn {
    color: #d4af37;
    outline: none;
}